# Generic / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
*.log

# Android / Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.cxx/
.externalNativeBuild/
local.properties
captures/
.navigation/
.cache/
*.apk
*.ap_
*.aab
*.aar
*.jks
*.keystore

# JetBrains / IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Node.js / Frontend
node_modules/
**/dist/
.package-lock.json

# Go / Wails
*.exe
*.test
*.prof
pc-app/build/bin/
pc-app/frontend/wailsjs/
wails-frontend-dev.log
.wails/

# Project Specific
pc-app/pc-app.exe
